name: Latest Blog Posts

on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  update-readme-with-blog:
    name: Update README with latest blog posts
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Pull in blog posts
        uses: gautamkrishnar/blog-post-workflow@v1
        with:
          feed_list: "https://backandtowards.dev/index.xml"
          max_post_count: 2
          template: "- [$title]($url) - $date \n"
          date_format: "mmm dd, yyyy"
          # comment_tag_name: "BLOG-POST-LIST"
